html {padding:0; height:100%; margin:0;font-family:sans-serif}
body {height:100%; padding:2em; box-sizing: border-box; margin:0; border:0;}

div#dropzone {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    display: none;
}

.separator {border-top:1px solid black}
.border {border:15px dashed black}
.disabled {color:gray}

.mark {background-color:yellow;}
.disabled .mark {
    background-color: transparent;
}

#sharing {
    display: none;
}
#share-link {
    display: none;
}
#download-file {
    display: none;
}
#parent {
    display: table;
    width:100%;
    height:100%;
    box-sizing: border-box;
    border:15px dashed transparent;
}

#child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 25em;
}
